.header {
	min-height: 90px;
	height: auto;
	background: black;
	margin-right: auto;
}

#title {
	margin-top: 2%;
	margin-left: 11%;
}

.title {
	font-size: inherit;
	margin-top: 1%;
}

.user {
	margin-top: 11%;
	font-size: inherit;
}

.footer {
	margin-top: 3%;
	font-size: small;
	height: 3%;
	margin-left: 32%;
	color: #E3A539;
}

#user_welcome_msg, #welcome_msg {
	color: white;
}

.footer-navbar {
	background: black;
	margin-bottom: auto;
	margin-right: auto;
	/* width: 120%;
	margin-left: -10%; */
}

#logo {
	height: 437%;
	width: 32%;
	margin-top: -7%;
}

h2 {
	color: #E3A539;
}

.row {
	height: auto;
}

#container {
	width: 100%;
}