.breadcrumb>li+li:before {
	content: "> >";
	color: gray;
}

#landing_page {
	background-color: #FFF;
	height: 50%;
	width: 30%;
	margin-left: 35%;
	margin-top: 8%;
	margin-bottom: 8%;
}

}

/* .breadcrumb>li+li:before{

	color:#cccccc;
	content:"> >";
	padding:5px;
	
} */
#breadcum {
	margin-left: 5px;
}

#add {
	margin-left: 19%;
	width: 66%;
}

}
/* #search {
	margin-left: 19%;
	width: 66%;
} */